<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Much of our sense of competence comes in reflection about our lives not just about the actions we take. ― The Charge by Brendon Burchard</string>
	<string>Writing a journal not only lets you see where you’ve been, but can be a window to your future.</string>
	<string>Memories are preserved when written down.</string>
	<string>Preserve your memories.</string>
	<string>“Be yourself. Above all, let who you are, what you are, what you believe, shine through every sentence you write, every piece you finish.” — John Jakes</string>
	<string>Freewriting is a fast method of thinking on paper.</string>
	<string>Spill your mind into Day One, without any judgment or stopping.</string>
	<string>Talk to yourself in your writing.</string>
	<string>Quality can be distilled later by editing.</string>
	<string>Write the way you think.</string>
	<string>Get your raw thoughts.</string>
	<string>Use the Calendar view to enter memories and events in the past.</string>
	<string>Focus on writing about one specific idea or moment in detail.</string>
	<string>Journaling about yourself is memorizing your steps.</string>
	<string>Write what you know.</string>
	<string>Keep your journal private.</string>
	<string>Don't worry about grammar or typos. If this bothers you, don't re-read your entries for a while.</string>
	<string>Write two paragraphs. The first paragraph: A sentence for everything noteworthy you've done that day. The second paragraph: What you've been thinking about, activities and, thoughts.</string>
	<string>“Writers are the custodians of memory, and that’s what you must become if you want to leave some kind of record of your life…” — William Zinsser</string>
	<string>“In Hollywood, when people die they don't say, 'Did he leave a will?' but 'Did he leave a diary?'” — Liza Minnelli</string>
	<string>“Keep a diary, and someday it'll keep you.”	— Mae West</string>
	<string>“Every person should keep a journal and every person can keep a journal.” — Spencer W. Kimball</string>	
	<string>Day One can be a logbook to keep track of the little details of your day. Who, what, where types of details. Who you met, what you did, where you went, etc.</string>	
	<string>It may seem tedious at first to add these details, but future readers will be grateful for your efforts.</string>
	<string>Be sure to include complete information: names (first and last), dates (including the year), and places.</string>
	<string>Your story should be written now while it is fresh and while the true details are available.</string>
	<string>After the writer's death, reading his journal is like receiving a long letter.</string>
	<string>A journal is a daily record of events or business; a private journal is usually referred to as a diary.</string>
	<string>What are you thankful for today?</string>
	<string>What do you crave and why?</string>
	<string>The talents I have are…</string>
	<string>What is your favorite time of day?</string>
	<string>Over the weekend I will…</string>
	<string>The perfect place in the whole world is…</string>
	<string>What have you recently learned?</string>
	<string>What are three things you wish you were better at?</string>
	<string>Physical and mental health improvements occur when individuals write about emotional experiences.</string>
	<string>Journal writing is a voyage to the interior.</string>
	<string>By simply writing down your thoughts, they can magically disappear.</string>
	<string>By writing about emotional or stressful experiences, your ability to concentrate can increase.</string>
	<string>Day One is your private Twitter.</string>
	<string>Copy-and-paste a recent email you wrote to someone into your journal.</string>
	<string>Writing in a journal can give you increased attention and memory capacity.</string>
	<string>Journal writing can give you longer lasting relationships.</string>
	<string>Writing about your life leads to less worrying and anxiety.</string>
	<string>The best way to improve your writing is by writing more.</string>
	<string>Your journal is a vital record.</string>
	<string>In addition to sharing thoughts and feelings, your journal is a record of your life’s events.</string>
	<string>Don’t assume that people and events you know intimately will be familiar to your future readers.</string>
	<string>Vary your entries—mix it up!</string>
	<string>Make sure you write your feelings and thoughts about your life's events.</string>
	<string>Don’t become obsessed with fact to the exclusion of emotion.</string>
	<string>Don't give up!</string>
	<string>No matter how much time has passed since your last entry, don't be discouraged. Start again—write today!</string>
	<string>The truth should be told, but we should not emphasize the negative.</string>
	<string>Your private journal should record the way you face up to challenges that beset you.</string>
	<string>What is common to you is a banquet to someone else.</string>
	<string>Write a letter to a loved one who has passed away.</string>
	<string>Write a letter to your future self.</string>
	<string>Write a letter to prepare for an important conversation.</string>
	<string>Write a love letter.</string>
	<string>What have you dreamed about lately?</string>
	<string>Keeping a journal regularly can have an immense positive impact on the immune system.</string>
	<string>What was the happiest moment of your life?</string>
	<string>What was the saddest moment of your life?</string>
	<string>Who have been the most important people in your life? Why?</string>
	<string>Who has been the biggest influence on your life? What lessons did that person teach you?</string>
	<string>What are the most important lessons you’ve learned in life?</string>
	<string>What is your earliest memory?</string>
	<string>How has your life been different than what you’d imagined?</string>
	<string>How would you like to be remembered?</string>
	<string>Do you have any regrets?</string>
	<string>Are there any words of wisdom you’d like to pass along?</string>
	<string>What are you proudest of in your life?</string>
	<string>How has your life been different than what you’d imagined?</string>
	<string>What lessons have you learned from your relationships?</string>
	<string>How was your relationship with your parents?</string>
	<string>How would you describe yourself as a child? Were you happy?</string>
	<string>What are your best and worst memories of childhood?</string>
	<string>Did you have a nickname? How’d you get it?</string>
	<string>Who were your best friends? What were they like?</string>
	<string>How would you describe a perfect day when you were young?</string>
	<string>What did you think your life would be like when you were older?</string>
	<string>Do you have any favorite stories from your childhood?</string>
	<string>Did you enjoy school?</string>
	<string>What kind of student were you?</string>
	<string>Write about a teacher or teachers who had a particularly strong influence on your life.</string>
	<string>Do you have any favorite stories from school?</string>
	<string>What was one of the most profound moments of your life?</string>
	<string>Who were your favorite relatives?</string>
	<string>What is your full name? How was it picked for you?</string>
	<string>When and where were you born?</string>
	<string>Who do people say you look like? Why?</string>
	<string>Describe the house your family lived in when you were born. Where was it located?</string>
	<string>Are there any special stories about you as a young child?</string>
	<string>What is your favorite baby photo of yourself?</string>
	<string>Do you know what your first words were? How old were you?</string>
	<string>When and where did you take your first steps alone?</string>
	<string>What is your earliest memory?</string>
	<string>Did/Do you have any pets?</string>
	<string>Did you grow up in the town of your birth?</string>
	<string>What do you know about the home town and neighborhood you grew up in?</string>
	<string>Tell about the house you lived in during your childhood. Do you remember the addresses or phone numbers?</string>
	<string>Describe the house you best remember living in while growing up. Where was it located? Is it still there?</string>
	<string>What physical traits did you inherit from each of your parents?</string>
	<string>Do you have any memorable employment stories?</string>
	<string>Describe any childhood illnesses or injuries you had and treatments you received. Were you allergic to anything?</string>
	<string>What jobs have your parents had? What were their primary occupations?</string>
	<string>What would be your proudest moment?</string>
	<string>What did your parents do that you are most proud of?</string>
	<string>Describe family cars or trucks you remember as a child. What other forms of transportation did you and your family experience?</string>
	<string>What are your earliest memories of radio and TV programs?</string>
	<string>What nicknames did others give you? How did you get them?</string>
	<string>Did you give any nicknames to others? Are any of these nicknames still used?</string>
	<string>As a child, did you have babysitters? How often?</string>
	<string>As a child, who were your best friends? Where are they now?</string>
	<string>Who are your current best friends? How did you meet?</string>
	<string>As a child, what games did you and your friends play? Where did you play?</string>
	<string>Do you have some memorable camping experiences?</string>
	<string>Do you belong to any groups or clubs?</string>
	<string>What winter activities do you participate in?</string>
	<string>Do you have any special summer activities?</string>
	<string>Do you have any hobbies or collections?</string>
	<string>What were the funniest and most embarrassing things you did as a child?</string>
	<string>Did anyone read or tell you stories when you were a child? What were your favorites?</string>
	<string>What sort of books did you and your family like to read?</string>
	<string>Do you listen to music? What are your favorites?</string>
	<string>Is there a book or song that was important to you when you were growing up?</string>
	<string>What are your favorite books? Do you have a favorite author?</string>
	<string>What one book would you recommend and why?</string>
	<string>What were your most memorable family vacations?</string>
	<string>What was the name of the first school you attended and where was it located? Is it still there?</string>
	<string>Did you have a favorite or least favorite teacher? Why?</string>
	<string>Did you like going to school?</string>
	<string>Describe your typical report card in elementary, junior high, and high school. Did you get rewarded for good grades?</string>
	<string>What kinds of mischief did you get into in elementary school? Did you ever visit the principal’s office?</string>
	<string>Did you have classmates that later became famous or infamous?</string>
	<string>Where and when did you go to junior high school?</string>
	<string>Where and when did you go to high school? Describe the building. Is it still there?</string>
	<string>How did you get to and from high school? What were your high school mascot, colors, school song or motto?</string>
	<string>What high school activities did you participate in?</string>
	<string>Who were your closest friends during high school? What did you do together?</string>
	<string>What do you remember about special events like homecomings, proms, school plays, sporting events, and dances?</string>
	<string>What did you enjoy most about school and extracurricular activities?</string>
	<string>Did you attend college or graduate school? Did you graduate, and, if so, in what year and with what degree?</string>
	<string>What did you want to be when you grew up?</string>
	<string>How old were you when you got your driver's license? How did you feel about driving?</string>
	<string>Were you in any accidents when you started driving?</string>
	<string>What was the first car you drove?</string>
	<string>Who taught you how to drive?</string>
	<string>What was your first paying job? How old were you? How long were you there?</string>
	<string>Who did you date during high school? What did you do on dates?</string>
	<string>When and where did you first live on your own?</string>
	<string>Who was your first date? How old were you? What did you do?</string>
	<string>Do you remember your first kiss or a special kiss?</string>
	<string>Who was your first love? How old were you? What attracted you to them?</string>
	<string>How do you get to and from work?</string>
	<string>Describe your cooking skills.</string>
	<string>Describe your first family car. Where did you get it?</string>
	<string>Do you remember your first or memorable argument with a significant other? What was it about? How did you make up?</string>
	<string>How has your relationship with your parents changed over the years?</string>
	<string>When have you felt closest to your parents?</string>
	<string>Did your parents have favorite sayings?</string>
	<string>Were there things your family did that your friends families didn't do?</string>
	<string>What did your parents teach you that helped you succeed in life?</string>
	<string>What has been your primary occupation as an adult?</string>
	<string>When and how did you settle on a permanent career or job and on what basis have you been paid?</string>
	<string>Describe your likes and dislikes of the job. Other than salary, what benefits has your primary occupation provided?</string>
	<string>Is there another career that you wish you had pursued?</string>
	<string>Who were the best and worst bosses you've had?</string>
	<string>Who was the most memorable person you have worked with?</string>
	<string>What was the funniest thing that ever happened at work?</string>
	<string>What occupational and employment achievements are you most proud of?</string>
	<string>What were the hardest, the easiest, the best, and worst jobs you have had?</string>
	<string>What kinds of volunteer work have you done?</string>
	<string>Describe experiences you have had investing money (stocks, bonds, commodities, real estate, etc.).</string>
	<string>Have you ever gone into business for yourself? How did your venture turn out?</string>
	<string>What are your plans for retirement? Will you change your residence?</string>
	<string>As a child, are there certain trips or activities that stand out?</string>
	<string>Can you identify events that you consider to have been turning points in your life?</string>
	<string>Describe your spending and saving habits both as a youth and as an adult.</string>
	<string>Have you ever traveled on a large boat or ship?</string>
	<string>Do you have a fantasy?</string>
	<string>Have you ever had a dream or fantasy come true?</string>
	<string>Have you had a recurring dream?</string>
	<string>Who has been your best friend for the longest time? When and how did you first meet them?</string>
	<string>What do you admire and appreciate most about your friends?</string>
	<string>Who is the most famous or infamous person you have ever met?</string>
	<string>What are your favorite movies?</string>
	<string>Outside of your immediate family, who has had the biggest influence on your life?</string>
	<string>Have you ever visited a foreign country?</string>
	<string>Can you speak a foreign language? How did you learn?</string>
	<string>Have you ever had experiences with an emergency or natural disaster?</string>
	<string>Have you ever administered first aid or rescued someone?</string>
	<string>What was the longest trip you ever took? When, where, why and with whom did you go?</string>
	<string>Are there mottos and rules you try to live by? Have those changed during your lifetime?</string>
	<string>Is there someone you really disliked? Why?</string>
	<string>Do you have any pet peeves?</string>
	<string>Do any of you have identifying physical marks or scars?</string>
	<string>What indoor and outdoor activities did your family do together when you were growing up? What were your favorites?</string>
	<string>As a child, What types of entertainment were available for children in your home town and nearby communities?</string>
	<string>As a child, what were your favorite sports and games?</string>
	<string>As an adult, what were your favorite sports and games?</string>
	<string>What were your favorite foods and beverages when you were growing up?</string>
	<string>Did your family have regular restaurants or places to eat out together when you were growing up? What was your favorite?</string>
	<string>What are your hobbies?</string>
	<string>Have you ever collected anything?</string>
	<string>What do you enjoy doing most in your leisure time?</string>
	<string>What is your favorite dessert?</string>
	<string>What are your all-time favorite songs?</string>
	<string>Who are your favorite singers and recording artists?</string>
	<string>What live performances have you attended?</string>
	<string>What are your all-time favorite TV shows and TV stars?</string>
	<string>What is your favorite thing to wear?</string>
	<string>What is your favorite season of year? What do you like to do most during that season?</string>
	<string>What is your favorite photo of yourself?</string>
	<string>What is your favorite family photo from your childhood?</string>
	<string>What is your favorite form of physical exercise?</string>
	<string>What activities do you enjoy most with other people?</string>
	<string>What activities do you enjoy most when alone?</string>
	<string>Do you have a favorite place you have visited?</string>
	<string>What is your favorite time of day?</string>
	<string>What is your favorite joke or riddle?</string>
	<string>Do you or a family member have favorite or funny sayings?</string>
	<string>Do you have a favorite poem?</string>
	<string>What are some of your holiday traditions?</string>
	<string>What New Year's resolutions have you made and which ones have you kept?</string>
	<string>Describe your current home, furnishings, and rooms.</string>
	<string>Describe your current yard and neighborhood.</string>
</array>
</plist>
